*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
header{
    width: 100%;
    height: 70px;
    background-color: transparent;
    position: fixed;
    display: flex;  
    z-index: 999;
}
/* Header right */
.rightpart{
    background-image:url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:100px;
    height: 29px;
    margin-top: 20px;
    margin-left: 40px;
}
/* Header left */
.ulstyle{
    display: flex;
    list-style: none;
    margin-left: 48%;
    margin-top: 20px;
}
.ulstyle>li{
    padding-left: 20px;

}
.ulstyle>li>a{
    color: rgb(89, 81, 81);
}
.ulstyle>li>a:hover{
    color:  black;
}
/* Header finished */
.kamsect{
    width: 100%;
    height: 800px;
    position: relative;
    z-index: -1;

}
.picsdiv{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: -1;
}
.pic1div{
    width: 100%;
    height:100%;
    background-image: url(../images/forest1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: absolute;
    z-index: 0;
    animation-name: myanimation1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.pic2div{
    width: 100%;
    height: 100%;
    background-image: url(../images/forest2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
    top: 0%;
    animation-name: myanimation2;
    animation-delay: 6s;
    animation-iteration-count: infinite;
}
.pic3div{
    width: 100%;
    height:100%;
    background-image: url(../images/forest3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: 0;
    top: 0%;
    animation-name: myanimation3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#picbottomtext{
    position: absolute;
    z-index: 0;
    visibility: visible;
    animation-name: textanimation1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#pic2bottomtext{
    position: absolute;
    z-index: 0;
    animation-name: textanimation2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#pic3bottomtext{
    position: absolute;
    z-index: 0;
    animation-name: textanimation3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
#picbottomtext, #pic2bottomtext, #pic3bottomtext{
    padding-top: 200px;
    text-align: center;
    color: white;
    opacity: 0.9;
    padding-left: 45%;
}
/* animations */
@keyframes myanimation1 {
    0% {opacity: 1;
        z-index: 1;}
    25% {opacity: 1;
        z-index: 1;}
    50% {opacity: 0;
          z-index: 0;}
    100% {opacity: 0;
            z-index: 0;}
}
@keyframes myanimation2 {
    0% {opacity: 0;
        z-index: 0;}
    50% {opacity: 1;
        z-index: 2;}
    100% {opacity: 0;
        z-index: 0;}    
}
@keyframes myanimation3 {
    0% {opacity: 0;
        z-index: 0;}
    50% {opacity: 0;
        z-index: 0;}
    100% {opacity: 1;
        z-index: 3;}    
}
@keyframes textanimation1 {
    0% {opacity: 1;
        z-index: 1;}
    25% {opacity: 1;
        z-index: 1;}
    50% {opacity: 0;
          z-index: 0;}
    100% {opacity: 0;
            z-index: 0;}
}
@keyframes textanimation2 {
    0% {opacity: 0;
        z-index: 0;}
    50% {opacity: 2;
        z-index: 1;}
    100% {opacity: 0;
        z-index: 0;}    
}
@keyframes texanimation3 {
    0% {opacity: 0;
        z-index: 0;}
    50% {opacity: 0;
        z-index: 0;}
    100% {opacity: 3;
        z-index: 1;}    
}
.textsdiv{
    width: 100%;
    height: 50%;
    background-color: white;
}
.abovesmallcards{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
}
.leftfirst{
    width: 28%;
    height: 50%;
    background-color: white;
}
.leftfirst>i{
    display: flex;
}

.leftfirst>h5{
    display: flex;
}
.fa-leaf{
    color: #48cfae;
}
.leftfirst>p{
    font-weight: 200;
    padding-left: 20px;
}
.middlefirst{
    width: 28%;
    height: 50%;
    background-color: white;
    /* margin-left: 5.3%; */
}
.middlefirst>i{
    display: flex;
}

.middlefirst>h5{
    display: flex;
}
.fa-desktop{
    color: #48cfae;
}
.middlefirst>p{
    font-weight: 200;
    padding-left: 20px;
}
.rightfirst{
    width: 28%;
    height: 50%;
    background-color: white;
    /* margin-left: 5.3%; */
}
.rightfirst>i{
    display: flex;
}

.rightfirst>h5{
    display: flex;
}
.fa-eye, .fa-a, .fa-folder-tree, .fa-fire-flame-curved{
    color: #48cfae;
}
.rightfirst>p{
    font-weight: 200;
    padding-left: 20px;
}
.bottomsmallcards{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
}

.worksection{
    width: 100%;
    height: 900px;
    background-color: #f3f4f8;

}
.workcontent{
    width: 70%;
    height: 900px;
    margin-left: 15%;
}
.headingdiv{
    width: 60%;
    height: 250px;
    margin-left: 20%;
    text-align: center;

}
.workheading{
    font: 700 28px 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #434a54;
    padding-top: 3%;
}
.workparagraph{
    color: #656d78;
    margin-top: 2%;
}
.ulwork{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.liwork{
    padding: 0 3%;
    color: #333;
    display: inline-block;

}
.awork{
    text-decoration: none;
    color: #333;
    font-weight: 700;

}
#allid{
    color: white;
    font-weight: bold;
    background-color: #48cfae;
    border: 1px solid;
    border-radius: 8px;
    border-color: #48cfae;
    padding: 1px 12px;
}

.liwork :hover{
    color: #48cfae;
}


.picturesdiv{
    width: 100%;
    height: 650px;

}
.firstline{
    width: 100%;
    height: 200px;
    display: flex;

}

.firstimage, .secondimage{
    width: 400px;
    height: 100%;
    margin-right: 20px;
}
.thirdimage{
    width: 750px;
    height: 100%;
    margin-right: 0px;
}

.firstimage>a{
    width: 100%;
    height: 100%;
    background-image: url(../images/work-1.jpg);
    display: inline-block;
    background-color:#48cfae; 
    position: relative;
}
.secondimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/work-2.jpg);

}
.thirdimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/work-3.jpg);
    background-repeat: no-repeat;
}

.secondline{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 15px;
}

.fourthimage{
    width: 350px;
    height: 100%;
    margin-right: 20px;
}

.fifthimage{
    width: 700px;
    height: 100%;
    margin-right: 23px;
}

.sixthimage{
    width: 300px;
    height: 100%;

}
.fourthimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/work-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.fifthimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/work-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sixthimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/work-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.thirdline{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 15px;
}
.seventhimage{
    width: 700px;
    height: 100%;
    margin-right: 20px;
}
.eightsimage{
    width: 300px;
    height: 100%;
    margin-right: 23px;
}
.ninthimage{
    width: 300px;
    height: 100%;
}
.seventhimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/work-7.jpg);
}
.eightsimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/work-8.jpg);
}
.ninthimage>a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/work-9.jpg);
}
.servicesection{
    width: 100%;
    height: 700px;
}
.servicecontent{
    width: 70%;
    height: 700px;
    margin-left: 15%;
}
.serviceheadingdiv{
    width: 50%;
    height: 220px;
    margin-left: 25%;
    text-align: center;

}
.serviceheading{
    padding-top: 80px;
    font: 700 28px 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #434a54;
}
.serviceparagraph{
    margin-top: 15px;
    color: #656d78;
}
.serviceinfo{
    width: 100%;
    height: 480px;
}
.firstrow{
    width: 90%;
    height: 235px;
    display: flex;
    margin-left: 5%;
    padding-top: 3%;
}
.firstinfo{
    width: 50;
    height: 100%;
    text-align: center;
    margin-right: 3%;
}
.secondinfo{
    width: 50;
    height: 100%;
    text-align: center;
    margin-right: 3%;
}
.thirdinfo{
    width: 50;
    height: 100%;
    text-align: center;
    margin-right: 3%;
}
.secondrow{
    width: 90%;
    height: 235px;
    display: flex;
    margin-left: 5%;
    padding-top: 3%;
}
.infoheading{
    color: #434a54;
    font-weight: 800px;
    font-size: 25px;
}
.infoparagraph{
    color: #656d78;
}


/* anar css start*/


.anardiv{
    display: flex;
    justify-content: center;
}

.anar{
    background-image: url(http://demo.rommar.in.ua/novanoid/novanoid-1/img/parallax.jpg);
    
    width: 80%;
}

.weheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.fa-heart{
    margin-left: 10px;
    color: #ed5564;
}
.firstspan{
    width: 55%;
}

.button{
    border: 2px solid;
    text-decoration: none;
    color: white;
    width: 160px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background: transparent;
    margin-top: 50px;
    border-color: none;
    
    
}

.button:hover{
    background: rgba(255, 255, 255, .2);
    border-color: white;
    color: white;

}

.fa-eye{
    animation-name: goz;
}

@keyframes goz{

}


.ourteam{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


#ourteamline{
    display: block;
    width: 40px;
    height: 2px;
    background: #ccd0d9;
}

.socialmedia{
    width: 33.3%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
}

.socialmedia>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.socialmedia>ul>li{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    left: 80px;
}

.socialmedia>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.col{
    width: 33.3%;
    position: relative; 
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.col div{
    float: left !important;
}

.member>h3,p{
text-align: left;
}

.memberimage{
    width: 100%;
    border-radius: 3px;
}

h3{
    font: 700 18px 'Yanone Kaffeesatz', sans-serif;
    font-family: "Yanone Kaffeesatz", sans-serif;
    text-transform: uppercase;
}

.statics{
    list-style: none;
    display: flex;
}

.fa-users, .fa-briefcase, .fa-globe, .fa-building{
    font-size: 32px;
    color: #48cfae;
    line-height: 5px;
    position: relative;
    top: 12px;
    margin-right: 15px;
}


.statics li h3{
    color: #aab2bd;
    padding: 0;
    margin: 0;
    font-size: 12px;
    position: relative;
    bottom: 20px;
}

.statics li p{
    font-size: 25px;
    float: left;

}

/* how many */

.howmany{
    display: flex;
    flex-direction: column;
    background-color: #f3f4f8;
    align-items: center;
}

#howmanyline{
    align-items: center;
    display: block;
    width: 40px;
    height: 2px;
    background: #ccd0d9;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.colcontainer{
    /* width: 100%; */
    background-color: #fff;
    border: 1px solid #e6e9ee;
    /* padding: 3px; */
}

.col-sm-4{
    /* background-color: #48cfae; */
    width: 33.1%;
    /* border: 1px solid; */
    margin: 1px;
    text-align: center;
    list-style: none;
}

.col-sm-4>div>ul{
    list-style: none;
    position: relative;
    right: 15px;
}

.colcontainer>h4{
    background-color: #f9f9fb;
    padding: 24px;
    font: 700 22px 'Yanone Kaffeesatz', sans-serif;
    color: #656d78;
}

.colcontainer>h5{
    color: #48cfae;
    font-size: 30px;
}

.howmanybutton{
    display: inline-block;
    width: 85px;
    height: 30px;
    margin-top: 24px;
    margin-bottom: 30px;
    background-color: #48cfae;
}

.howmanybutton{
    text-decoration: none;
    color: #fff;

}
/* --------------------------- */
.memberimage :hover{
    background-color: aqua;

}
.member2{
    width: 100%;
    height: 100%;
    background-color: black;
}

.member2 :hover .member>.memberimage{
    visibility: hidden;
}



/* anar css end */